.minesweeper {
	.game {
		display: flex;
		flex-direction: column;
		.status-bar {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.flag {
				display: flex;
				.flag-content {
					display: flex;
					align-items: flex-start;

					div {
						width: unset;
						padding: 0;
						margin: 0;
					}
				}
			}
		}

		.board {
			display: grid;
			.cell {
				display: flex;
				align-items: center;
				justify-content: center;
				&.even {
					background-color: deepskyblue;
				}
				&.odd {
					background-color: palegreen;
				}
			}
		}
	}
}
