.minesweeper {
	display: flex;
	flex-direction: column;
	.status-bar {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.game-status {
			grid-column: 2;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		.game-controls {
			grid-column: 3;
		}
	}

	.board {
		display: grid;
		.cell {
			display: flex;
			align-items: center;
			justify-content: center;
			&.even {
				background-color: #90d5ce;
				&.touched {
					background-color: #FFCC80;
				}
			}
			&.odd {
				background-color: #c8eae7;
				&.touched {
					background-color: #FFE0B2;
				}
			}
		}
	}
}
