@import '@carbon/layout/scss/layout';
@import '@carbon/colors/scss/colors';
#page-blog {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    #page-blog-main {
        grid-column-start: 3;
        grid-column-end: 14;
        background-color: $carbon--gray-10;
        height: 100vh;
        padding-left: $spacing-07;
        padding-right: $spacing-07;

        #page-blog-list-container {
            margin-top: $layout-03;

            .page-blog-list-item {
                height: max-content;
                padding-top: $spacing-03;
                padding-bottom: $spacing-03;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: $carbon--gray-20;
            }
        }
    }
}